.logo{
    background-image: url(../../assets/images/marsa-maroc-logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 90px;
}

.title {
    margin-left: 10px;
    margin-right: 10px;
}

.spacer {
    flex: 1 1 auto;
}